<!DOCTYPE html>
<html>
<head>
    @{meta}
    <meta charset="utf-8">
    <title>Layout</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.2.0-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.2.0-dist/css/bootstrap.css.map">
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.2.0-dist/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/bootstrap-3.2.0-dist/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.2.0-dist/css/bootstrap-theme.css.map">

    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/css/style_layout.css">
    <link rel="stylesheet" type="text/css" href="/css/xoverlay.css">
</head>
<body>
    @{body}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
</body>
</html>