<div id="header" class="container">
    <div class="menu-top row-fluid form-group hidden-xs">
            <button type="button" class="btn btn-default pull-right signup ">SIGN UP</button>
            <button type="button" class="btn btn-default pull-right login ">
                <span class="glyphicon glyphicon-user"></span>&nbsp;LOGIN
            </button>
            <nav class="collapse pull-right navbar-collapse bs-navbar-collapse in hidden-xs" role="navigation" style="">
                <ul class="nav navbar-nav top-menu ">
                    <li ><a href="#">FORUM</a></li>
                    <li ><a href="#">DOCS</a></li>
                    <li ><a href="#">BLOCK</a></li>
                </ul>
            </nav>
            <form class="navbar-form pull-right search" role="search">
                <input type="text" class="form-control" placeholder="Search..." style="width: 260px;" >
            </form>
        <div class="clearfix" style="height: 4px;"></div>
    </div>
    <!-- menu-top 2-------------------------------------------------->
    <div class="menu-top2 form-group hidden-sm hidden-md hidden-lg">
        <button type="button" class="btn btn-default  signup pull-right">SIGN UP</button>
        <button type="button" class="btn btn-default  login pull-right ">
            <span class="glyphicon glyphicon-user"></span>&nbsp;LOGIN
        </button>
        <nav class="collapse bs-navbar-collapse in top-bar" role="navigation" style="">
            <ul class="nav navbar-nav ">
                <li><a href="#">FORUM</a></li>
                <li><a href="#">DOCS</a></li>
                <li><a href="#">BLOCK</a></li>
            </ul>
        </nav>
        <form class="navbar-form search" role="search">
            <input type="text" class="form-control" placeholder="Search..."style="width: 100%;" >
        </form>
        <div class="clearfix"></div>
    </div>
    <!--end menu-top 2-------------------------------------------------->
    <div class="navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="logo">
                <div class="logocart"></div>
                <a href="#"><h2>NODECART</h2></a>
                <p>eCommerce platform for Node.js</p>
            </div>
        </div>
        <div class="collapse navbar-collapse menu-bar">
            <ul class="nav navbar-nav pull-right">
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">GET STARED</a></li>
                <li><a href="#">EXTENSIONS</a></li>
                <li><a href="#">DEVELOPMENT</a></li>
                <li><a href="#">SHOWCASE</a></li>
            </ul>
        </div>
    </div>

</div>
<div class="clearfix"></div>
<div id="banner" class="container">
    <div class="logo-menu">
        <p class="logo-banner"></p>
        <h2 class="lead">NODECART</h2>
        <p class="lead">eCommerce platform for Node.js</p>
        <p class="lead">Claritas est etiam processus dynamiccus qui seyuitur  mutatiinem conuetudium</p>
    </div>
    <div class="clearfix"></div>
    <p class="download lead">
        <a class="btn btn-outline-inverse btn-lg downnode" href="getting-started#download"><span class="glyphicon glyphicon-save"></span>&nbsp; Download Nodecart</a>
    </p>
    <p class="version">Current version 1.0</p>
    <div class="clearfix"></div>
</div>
<div class="count container">
    <div class="count2">
        <ul class="pagination  ">
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <span>,</span>
        </ul>
        <ul class="pagination count1 ">
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">9</a></li>
        </ul>
    </div>
    <span class="count-down pull-right hidden-xs hidden-sm">Downloads</span>
    <p class="count-down1 hidden-lg hidden-md">Downloads</p>
</div>
<div class="clearfix"></div>
<div id="hightlight_features" class="container ">
    <div class="hightlight_features container row">
        <h2>HIGHTLIGHT FEATURES</h2>
        <p>Typi non habent claritatem insitam est usus legentisin iis qui facit eorum</p>
    </div>
    <div class="icon-row row">
        <div class="col-md-4 col-sm-4 col-xs-12 row-icon">
            <div class="col-md-2 col-sm-2 col-xs-2 icon1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <h4>Fully Open Source</h4>
                <p>Use <a href="#">Node.js</a> and <a href="#">Total.js</a>,
                    fully open,can freely development and
                    share can freely development and share.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 row-icon">
            <div class="col-md-2 col-sm-2 col-xs-2 icon2"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <h4>Fully Open Source</h4>
                <p>Use <a href="#">Node.js</a> and <a href="#">Total.js</a>,
                    fully open,can freely development and
                    share can freely development and share.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 row-icon">
            <div class="col-md-2 col-sm-2 col-xs-2 icon3"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <h4>Fully Open Source</h4>
                <p>Use <a href="#">Node.js</a> and <a href="#">Total.js</a>,
                    fully open,can freely development and
                    share can freely development and share.
                </p>
            </div>
        </div>


        <div class="col-md-4 col-sm-4 col-xs-12 row-icon">
            <div class="col-md-2 col-sm-2 col-xs-2 icon4"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <h4>Fully Open Source</h4>
                <p>Use <a href="#">Node.js</a> and <a href="#">Total.js</a>,
                    fully open,can freely development and
                    share can freely development and share.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 row-icon">
            <div class="col-md-2 col-sm-2 col-xs-2 icon5"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <h4>Fully Open Source</h4>
                <p>Use <a href="#">Node.js</a> and <a href="#">Total.js</a>,
                    fully open,can freely development and
                    share can freely development and share.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 row-icon">
            <div class="col-md-2 col-sm-2 col-xs-2 icon6"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <h4>Fully Open Source</h4>
                <p>Use <a href="#">Node.js</a> and <a href="#">Total.js</a>,
                    fully open,can freely development and
                    share can freely development and share.
                </p>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12 row-icon">
            <div class="col-md-2 col-sm-2 col-xs-2 icon7"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <h4>Fully Open Source</h4>
                <p>Use <a href="#">Node.js</a> and <a href="#">Total.js</a>,
                    fully open,can freely development and
                    share can freely development and share.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 row-icon">
            <div class="col-md-2 col-sm-2 col-xs-2 icon8"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <h4>Fully Open Source</h4>
                <p>Use <a href="#">Node.js</a> and <a href="#">Total.js</a>,
                    fully open,can freely development and
                    share can freely development and share.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 row-icon">
            <div class="col-md-2 col-sm-2 col-xs-2 icon9"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <h4>Fully Open Source</h4>
                <p>Use <a href="#">Node.js</a> and <a href="#">Total.js</a>,
                    fully open,can freely development and
                    share can freely development and share.
                </p>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12 row-icon">
            <div class="col-md-2 col-sm-2 col-xs-2 icon10"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <h4>Fully Open Source</h4>
                <p>Use <a href="#">Node.js</a> and <a href="#">Total.js</a>,
                    fully open,can freely development and
                    share can freely development and share.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 row-icon">
            <div class="col-md-2 col-sm-2 col-xs-2 icon11"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <h4>Fully Open Source</h4>
                <p>Use <a href="#">Node.js</a> and <a href="#">Total.js</a>,
                    fully open,can freely development and
                    share can freely development and share.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 row-icon">
            <div class="col-md-2 col-sm-2 col-xs-2 icon12"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <h4>Fully Open Source</h4>
                <p>Use <a href="#">Node.js</a> and <a href="#">Total.js</a>,
                    fully open,can freely development and
                    share can freely development and share.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="show-case"class="container">
    <div class="menu-case container">
        <h2 class="">BUILT WITH NODECART</h2>
        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut</p>
        <p> commodo consequat.</p>
    </div>
    <div class="row show-img">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="xoverlay x-simple">
                <img class=" x-img-main" src="/images/layer1.png">
                <div class="xoverlay-box">
                    <div class="xoverlay-data">
                        <span class="x-circle x-white"><a href="#"><img src="/images/icon-eye.png"></a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="xoverlay x-simple">
                <img class=" x-img-main" src="/images/layer1.png">
                <div class="xoverlay-box">
                    <div class="xoverlay-data">
                        <span class="x-circle x-white"><a href="#"><img src="/images/icon-eye.png"></a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="xoverlay x-simple">
                <img class=" x-img-main" src="/images/layer1.png">
                <div class="xoverlay-box">
                    <div class="xoverlay-data">
                        <span class="x-circle x-white"><a href="#"><img src="/images/icon-eye.png"></a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="showcase lead">
        <a class="btn btn-outline-inverse btn-lg downnode" href="getting-started#download"><span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Showcase</a>
    </p>
</div>
<div id="webhosting" class="container">
    <div class="webhosting">
        <h2>WEBHOSTING</h2>
        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut</p>
    </div>
    <ul class="row hosting">
        <li class="col-md-3 col-sm-6 col-xs-12">
            <a href="http://www.evennode.com/"><img src="/images/hosting/layer1.png"></a>
        </li>
        <li class="col-md-3 col-sm-6 col-xs-12">
            <a href="https://www.nodejitsu.com"><img src="/images/hosting/layer2.png"></a>
        </li>
        <li class="col-md-3 col-sm-6 col-xs-12">
            <a href="https://www.appfog.com"><img src="/images/hosting/layer3.png"></a>
        </li>
        <li class="col-md-3 col-sm-6 col-xs-12">
            <a href="https://modulus.io"><img src="/images/hosting/layer4.png"></a>
        </li>
        <li class="col-md-3 col-sm-6 col-xs-12">
            <a href="https://heroku.com"><img src="/images/hosting/layer5.png"></a>
        </li>
        <li class="col-md-3 col-sm-6 col-xs-12">
            <a href="https://www.mongosoup.de"><img src="/images/hosting/layer6.png"></a>
        </li>
        <li class="col-md-3 col-sm-6 col-xs-12">
            <a href="https://www.firebase.com"><img src="/images/hosting/layer7.png"></a>
        </li>
        <li class="col-md-3 col-sm-6 col-xs-12">
            <a href="https://mongolab.com"><img src="/images/hosting/layer8.png"></a>
        </li>
    </ul>
</div>
<div class="footer container">
    <div class="menu-footer col-md-12">
        <div class="logo col-md-3 col-sm-4 col-xs-5">
            <span class="logo-footer"></span>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-7">
            <span class="slogan">Node.js&reg; is a platform built on Chrome's JavaScrupt runtime for easily buiding fast,...</span>
        </div>
    </div>
    <div class="row bor-footer">
        <div class="email col-md-4 col-xs-12">
            <h3>Email Newsletters</h3>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%;"></div>
            </div>
            <p>By subcribing you will get the lastest news from us.</p>
            <div class="form-group form-footer">
                <input class="form-control control2" type="text" placeholder="Email Address">
                <button type="submit" class="btn btn-default col-md-4">Subscribe</button>
            </div>
            <h4>Follow With Us</h4>
            <div class="facebook col-md-2 col-sm-2 col-xs-2">
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
            <span class="twitter col-md-2 col-sm-2 col-xs-2">
                <a href="#"><i class="fa fa-twitter"></i></a>
            </span>
            <span class="pinterest col-md-2 col-sm-2 col-xs-2">
                <a href="#"><i class="fa fa-pinterest"></i></a>
            </span>
            <span class="google col-md-2 col-sm-2 col-xs-2">
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </span>
        </div>
        <div class="overview col-md-4 col-xs-12">
           <h3>Overview</h3>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                </div>
            </div>
            <div class="group">
               <ul class="col-md-5 col-xs-6">
                   <li><a href="#">About</a></li>
                   <li><a href="#">Get Started</a></li>
                   <li><a href="#">Extensions</a></li>
                   <li><a href="#">Developmnet</a></li>
                   <li><a href="#">Showcase</a></li>
                   <li><a href="#">Hosting</a></li>
               </ul>
                <ul class="col-md-5 col-xs-6 navbar-right">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Get Started</a></li>
                    <li><a href="#">Extensions</a></li>
                    <li><a href="#">Developmnet</a></li>
                    <li><a href="#">Showcase</a></li>
                    <li><a href="#">Hosting</a></li>
                </ul>
            </div>
        </div>
        <div class="fb col-md-4 col-xs-12">
            <h3>Find To Us On Facebook</h3>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                </div>
            </div>
            <img src="/images/footer/layer-fb.png">
        </div>
    </div>
</div>
<div class="bootom container">
    <h4>Copyright &copy; 2011-2014 Cmsmart.net. All Rights Reserved</h4>
    <a href="#">
        <div class="top-up">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </div>
    </a>
</div>

